{% load static %}
</div>
</div>
</header>
</div>
<div class="shadow one"></div>
<div class="shadow two"></div>
</div>

<div class="links">
	<ul>
		<li>
			<a href="/home" style="--i: 0.05s;">Home</a>
		</li>
		<li>
			<a href="/teams" style="--i: 0.1s;">Teams</a>
		</li>
		<li>
			<a href="#" style="--i: 0.15s;">Portfolio</a>
		</li>
		<li>
			<a href="#" style="--i: 0.2s;">Testimonials</a>
		</li>
		<li>
			<a href="#" style="--i: 0.25s;">About</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">Contact</a>
		</li>
	</ul>
</div>
</div>
</header>
<script src="{% static 'navbar.js'%}"></script>
<script src="{% static 'js\home.js'%}"></script>