{% load static %}

<!-- Include this navbar code after adding your respective code(which will be displayed on clicking the hamburger) -->

</div>
</div>
</header>
</div>
<div class="shadow one"></div>
<div class="shadow two"></div>
</div>

<div class="links">
	<ul>
		<li>
			<a href="/home" style="--i: 0.05s;">Home</a>
		</li>
		<li>
			<a href="#" style="--i: 0.15s;">Initiatives</a>
		</li>
		<li>
			<a href="#" style="--i: 0.2s;">Events</a>
		</li>
		<li>
			<a href="#" style="--i: 0.25s;">Workshops</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">Timeline</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">Attractions</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">About Us</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">Contact Us</a>
		</li>
		<li>
			<a href="#" style="--i: 0.3s;">Sponsors</a>
		</li>
		<li>
			<a href="/teams" style="--i: 0.1s;">Teams</a>
		</li>
	</ul>
</div>
</div>
</header>
<script src="{% static 'navbar.js'%}"></script>
<script src="{% static 'js\home.js'%}"></script>